
/* Estilos para el overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000cb; /* Fondo negro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Asegura que el overlay esté en la parte superior */
  }
 
  .ContainerModal {
    height: 80vh;
    overflow-y: auto;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    z-index: 1001;/* Asegura que el contenido del modal esté encima del overlay */
  }
  
  /* Estilos para el botón de cierre del modal */
  
  
  /* Estilos para el mensaje en el modal */
  .modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-atras {
    width: 48px;
    border-width: 3px;
    padding: 3px;
    border-radius: 30px;
    text-align: center;
    border-color: #4285F4;

    &:hover {
        background-color: #4285F4;
      }
}

.Titulo {
    width: 100%;
    font-weight: bold;
}

.Input {
    width: 100%;
    border-width: 2px;
    border-color: #4285F4;
    padding: 5px;
    border-radius: 15px;
    margin: 2vh 0;
}

.text-error {
    color: red;
}

.guardar {
    width: 25%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    border-color: #4285F4;
    border-width: 3px;

    &:hover {
        background-color: #4285F4;
      }
}