/* Service.scss */

.payment-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px; /* Ancho máximo del modal */
    height: 70vh; /* Altura automática según el contenido */
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.734); /* Un fondo semitransparente */
    z-index: 999; /* Asegúrate de que esté por debajo del modal */
  }
  
  .modal-title {
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio entre el título y el valor total */
    text-align: center;
  }
  
  .total-amount {
    font-size: 36px; /* Tamaño grande para el valor total */
    margin-bottom: 20px; /* Espacio entre el valor total y las opciones de pago */
    text-align: center;
  }
  
  .payment-options {
    padding: 20px;
  }
  
  .payment-option {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-width: 2px;
    border-radius: 50%;
    border-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    cursor: pointer;
    &:hover {
      background-color: orange;
    }
  }
  
  
  .close-button {
    margin: 20px;
    padding: 10px 20px;
    background: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background: #999;
  }
  
  /* Estilos CSS para las opciones de pago */
.payment-options {
    display: flex;
    justify-content: space-between; /* Distribuye las opciones de pago en el espacio disponible */
    margin-top: 20px; /* Espacio superior entre el valor total y las opciones de pago */
  }
  
  .payment-option {
    text-align: center; /* Centra el texto */
  }
  
  .icono1{
    color: green;
    font-size: 40px;
  }

  .icono2{
    color: purple;
    font-size: 40px;
  }
  .icono3{
    color: gray;
    font-size: 40px;
  }
  
  /* Agregar estos estilos en tu archivo CSS */
.payment-content {
  padding: 20px; /* Añade un espaciado interno */
  background-color: #ffffff; /* Cambia el fondo al color que prefieras */
  border: 5px solid #000000; /* Añade un borde con un color adecuado */
  border-radius: 20px; /* Redondea las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra */
  text-align: center; /* Centra el contenido de la sección */
}

.bill-input {
  padding: 10px; /* Añade espaciado interno al campo de entrada */
  width: 100%; /* Ocupa el ancho completo de su contenedor */
  border: 1px solid #ccc; /* Añade un borde al campo de entrada */
  border-radius: 50px; /* Redondea las esquinas del campo de entrada */
  margin-bottom: 10px; /* Agrega un espaciado inferior */
  margin: 5px;
}

.change-text {
  font-weight: bold; /* Hace que el texto sea negrita */
  color: #3a6ca2; /* Cambia el color del texto a uno más destacado */
}

.payment-grid {
  display: grid;
  grid-template-columns: 60% 40%; /* Divide el modal en dos columnas (60% - 40%) */
  width: 100%; /* Asegura que el grid ocupe todo el ancho del modal */
  height: 100%; /* Ocupa toda la altura del modal */
}

.seccion-pago {
  /* Estilos para la sección de pago (60%) */
  margin: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.mini-factura {
  width: 100%; /* Ocupa todo el ancho de la sección */
  padding: 20px; /* Espaciado interno */
  background-color: #fff; /* Fondo blanco */
  border: 2px solid #000; /* Borde de 2px sólido */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.factura-title {
  text-align: center;
  font-size: 1.5rem; /* Tamaño del título */
  margin-bottom: 20px; /* Espacio inferior */
}

.factura-items {
  margin: 20px; /* Espacio superior entre el título y los elementos */
}

.factura-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 10px; /* Espacio entre elementos */
}
.factura-item2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 12px; /* Espacio entre elementos */
}

.factura-header {
  font-weight: bold; /* Texto en negrita para encabezado */
}

.factura-subtotal,
.factura-iva,
.factura-total {
  font-weight: bold;
  margin-top: 20px; /* Texto en negrita para subtotal, IVA y total */
}

.factura-subtotal p,
.factura-iva p,
.factura-total p {
  font-size: 1.1rem; /* Tamaño de fuente ligeramente más grande para los valores */
}
