@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.content {
  z-index: 1; /* Asegura que el contenido esté sobre el fondo */
  color: white;
}

.inicio{
  height: 100vh;
}
.train {
  color: white;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: bolder;
}

.trainMini {
  color: gray;
}

.title {
  font-size: 90px;
  text-align: center;
  color: white;
  font-family: 'Noto Sans Display', sans-serif;
  line-height: 1;
  margin-bottom: 10px;
}

.seccion-titulo {
  margin-bottom: 5px;
  padding: 2px;
  margin: 15px;
}

.tutorial {
  color: cyan;
  margin-bottom: 50px;
}

.services-buttonn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: bolder;
  color: black;
  border-radius: 40px;
  cursor: pointer;
  margin: 50px;

  &:hover {
    background-color: black;
    color: white;
  }
}

.play {
  margin-top: 80px;
  color: white;
  font-size: 80px;

  &:hover {
    color: cyan;
  }
}


.message {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1;
  margin-top: 70px;
}

.sub-title {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: left;
  color: white;
  font-size: 20px;
  line-height: 1;
}

.sub-title2 {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  color: white;
  line-height: 2;
  margin-top: 20px;
}

hr {
  color: white;
  margin-bottom: 70px;
}


.footer {
  margin-top: 10px;
  font-size: 10px;
  color: gray;
  font-weight: bolder;
}

.arrow {
  animation: bouncee 1s infinite alternate;
}

@keyframes bouncee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

.play {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}

.informacion {
  height: 90vh;
  width: 100%;
}

.primera {
  margin-top: 40vh;
  padding: 50px;
}

.table-auto {
  margin: 20px;
}

.icono {
  font-size: 30px;
}

.factura {
  border-width: 3px;
  padding: 3px;
  margin: 20px;
}