/* Estilos para el header */
.header {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4285F4; /* Color de fondo del header */
  color: #fff;
  border-radius: 80px; /* Color del texto y de los íconos */
}

/* Estilos para el contenido izquierdo */
.left-content {
  flex: 1;
}

/* Estilos para el contenido central (botón de opciones y ventana modal) */
.center-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-button {
  color: white;
  text-decoration: none;
}

.options-button:hover {
  text-decoration: underline;
}

/* Estilos para el contenido derecho (logo de cuenta) */
.right-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Estilos para el botón "Cerrar" dentro de la ventana modal */
.close {
  background-color: #4285F4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;

  &:hover {
    background-color: #c82333;
  }
}

.close-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}

.sistema {
  font-size: larger;
  font-weight: bold;
}

.icon1 {
    font-size: 20px;
    color: #0F9D58;
  }
  .icon-label1 {
    color: #0F9D58;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .icon-label2 {
    color: #F4B400;
    font-size: 20px;
    font-weight: bolder;

  }
  
  .icon-container{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: white;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    padding: 10px;
    margin: 10px;
  }
  
  .icon2 {
    font-size: 40px;
    color: #F4B400;
  }
  
  .icon3 {
    font-size: 40px;
    color: #FF3E30;
  }
  
  .icon-label3 {
    color: #FF3E30;
    font-size: 20px;
    font-weight: bolder;
    
  }
  
  .icon4 {
    font-size: 40px;
    color: rgb(134, 48, 134);
  }
  
  .icon-label4 {
    color: rgb(134, 48, 134);
    font-size: 20px;
    font-weight: bolder;
    
  }

  .icon {
    font-size: 40px;
  }

  .modal-content {
    background-color: rgba(0, 0, 0, 0);
  }